$mobileWidth: 768px;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.blogContainer {
  position: relative;
  width: 100%;
  overflow: hidden;

  .blogHeader {
    display: flex;
    // align-items: center;
    margin-bottom: 44px;
    padding: 148px 0px 44px 108px;

    .blogHeading {
      font-size: 24px;
      color: #253149;
      font-family: $quatro;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -2px;
    }

    .blogArrow {
      margin-left: 8px;
      flex-shrink: 0;
      align-self: center;
      margin-top: 8px;
    }

    .blogType {
      margin-left: 8px;
      color: #253149;
      font-family: $raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -1.2px;
      align-self: flex-end;
      margin-bottom: 4px;
    }
  }

  .blogContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 774px;
    margin: 0;

    .blogImage {
      position: relative;
      width: 100vw;
      height: 400px;
      overflow: hidden;

      .imageOverlay {
        width: 316px;
        padding: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 180px;

        .blogTypeHeading {
          margin-bottom: 5px;
          color: #253149;
          font-family: $raleway;
          font-size: 10px;
          font-style: normal;
          font-weight: 500;
          line-height: 141.9%;
        }

        .blogHeading {
          margin: 22px 0;
          color: #253149;
          font-family: $quatro;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -2.8px;
        }

        .blogUpdatedAt {
          color: #253149;
          font-family: $raleway;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 141.9%;
        }
      }
    }

    .blogText {
      margin-top: 20px;
      padding-left: 200px;
      margin-bottom: 300px;

      .blogParagraphs {
        color: #253149;
        font-family: $raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 144.9%;
        margin-bottom: 20px;
      }
    }

    @media (max-width: $mobileWidth) {
      .blogImage {
        height: 250px;
      }

      .blogTitle {
        h1 {
          font-size: 30px;
        }
      }

      .blogText {
        p {
          font-size: 14px;
        }
      }
    }
  }

  .exploreCourses {
    padding: 32px 80px 36px 36px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    position: absolute;
    top: 70%;
    right: -2%;
    width: 210px;
  }

  .exploreBox {
    text-align: right;
  }

  .exploreTitle {
    color: #253149;
    font-family: $raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 141.9%;
    margin-bottom: 24px;
  }

  .courseOptions {
    display: flex;
    flex-direction: column;
  }

  .courseOption {
    color: #253149;
    font-family: $raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 141.9%;
    margin-bottom: 14px;
    cursor: pointer;
  }
}
