@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$mobileWidth: 375px;
$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.courseEnquiryForm {
  text-align: left;
  padding: 100px 98px;
  margin-top: 100px;

  .heading {
    margin-bottom: 76px;
    font-size: 40px;
    font-family: $quatro;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;
  }

  .windowWidthLine {
    width: calc(100% + 196px);
    height: 1px;
    background-color: #f9f4f0;
    margin-left: -98px;
  }

  .personalInfo {
    color: #253149;
    font-family: $raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 58px;
  }

  .paymentDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;

    .column {
      flex: 1;
      text-align: left;

      .paymentDetailsTitle {
        margin-bottom: 40px;
        margin-top: 90px;
        font-family: $raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
      }

      .paymentDetailsSubTitle {
        margin-bottom: 60px;
        font-family: $raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
      }

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-family: $raleway;

        .paymentDetailsInfo {
          margin-right: 10px;
          min-width: 120px;
        }

        input[type="date"],
        input[type="text"] {
          width: 24%;
          padding: 14px;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
        }

        input[type="checkbox"] {
          margin-right: 5px;
          margin-top: 90px;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
        }
      }

      .saveButton {
        padding: 14px 72px;
        color: #253149;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, 0.39);
        transition: background-color 0.3s ease;
        margin-top: 70px;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;

        &:disabled {
          cursor: not-allowed;
        }

        &:hover:enabled {
          background-color: #c1121f;
          color: white;
        }
      }
    }
  }

  .stepsContainer {
    display: flex;
    max-width: 100%;

    .step {
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 54px;

      &:last-child {
        margin-right: 0;
      }

      .stepTitle {
        font-size: 14px;
        margin-left: 4px;
        font-family: $raleway;
      }

      .stepNumber {
        font-size: 14px;
        font-family: $raleway;
      }

      &.currentStep {
        &:after {
          content: "";
          position: absolute;
          top: -15px; /* Adjust the position above the step */
          left: calc(50% - 5px); /* Position it horizontally centered */
          width: 10px;
          height: 10px;
          background-color: #C1121F;
          border-radius: 50%;
        }
      }
    }
  }

  .ugDegree {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;

    .column {
      flex: 1;
      text-align: left;
    }

    h3 {
      margin: 0;
      font-family: $raleway;
      font-weight: 400;
      font-size: 18px;
      color: #253149;
    }

    .fileInputBox {
      border: 1px solid rgba(0, 0, 0, 0.39);
      padding: 6px;
      display: flex;
      align-items: center;
      width: 100%;

      max-width: 516px;
    }

    .fileInputLabel {
      padding: 6px 46px;
      border: 1px solid rgba(0, 0, 0, 0.39);
      background: #f9f4f0;
      color: #253149;
      font-family: $raleway;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .fileInput {
      display: none;
    }
  }

  .divider {
    width: 146px;
    height: 1px;
    background: rgba(0, 0, 0, 0.16);
    margin: 8px 28px;

    @media (max-width: $mobileWidth) {
      width: calc(
        100% - 40px
      ); /* Adjust the width to ensure visibility on mobile */
      margin: 20px 20px; /* Add margin for spacing on mobile screens */
    }
  }
}
