@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 108px;
}

.tile {
  width: 256px;
  height: 198px;
  margin-right: 72px;
  margin-bottom: 100px;

  display: flex;
  flex-direction: column;

  .imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .tileCaption {
    margin-top: 24px;
    display: inline-block;
    text-decoration: none;
    font-family: $raleway;
    color: #253149;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
