/* Carousel.module.scss */

.carousel {
  width: 100%;
  overflow: hidden;
}

.carouselContainer {
  display: flex;
  width: max-content;
}

.imageContainer {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust the margin as needed */
}
