@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.coursesPage {
  padding: 0 5%; // Adjust padding for responsiveness
}

.sectionTitle {
  margin-top: 2rem; // Adjust margin using relative units
  margin-bottom: 3rem;
  color: #253149;
  font-family: $quatro;
  font-size: 2rem; // Adjust font size using relative units
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1rem; // Adjust letter spacing using relative units

  @media (max-width: 1200px) {
    font-size: 1.8rem;
  }

  @media (max-width: 768px) {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.4rem;
  }

  @media (max-width: 468px) {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 375px) {
    font-size: 1.1rem;
  }
}

.tilesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; // Adjust gap using relative units
  margin-top: 1.5rem;
}

.courseTile {
  width: calc(50% - 1rem); // Adjust width using relative units
  padding: 2rem; // Adjust padding using relative units
  border-radius: 1rem; // Adjust border-radius using relative units
  background: #f9f4f0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 1.5rem;

  .tileTitle {
    margin-bottom: 3rem; // Adjust margin using relative units
    font-size: 1.5rem; // Adjust font size using relative units
    font-weight: bold;
    color: #253149;
    font-family: $raleway;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1.2rem; // Adjust font size using relative units
    line-height: 1.5;
    margin-bottom: 1.5rem; // Adjust margin using relative units
    font-family: $raleway;
    font-weight: 400;
    color: #253149;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
