.blogsPage {
  padding: 20px;
}

.pageTitle {
  margin-bottom: 70px;
}

.tilesContainer {
  display: flex;
  overflow-x: auto;
}

.blogTile {
  width: 474px;
  height: 374px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 28px 60px 48px;
  background-color: #f9f4f0;

  .tag {
    font-weight: bold;
    color: #253149;
    margin-bottom: 10px;
  }

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #253149;
    margin-bottom: 10px;
  }

  .description {
    color: #253149;
    margin-bottom: 20px;
  }

  .readMoreSection {
    display: flex;
    align-items: center;
    .readMoreText {
      color: #253149;
      cursor: pointer;
    }

    .arrowButton {
      font-size: 24px;
      margin-left: 10px;
      vertical-align: middle;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
