@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.courses {
  margin: 30px 0;

  .coursesType {
    margin: 0px 0px 42px 0px;
    color: #253149;
    font-family: $raleway;
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
  }

  .coursesRow {
    display: flex;
    overflow-x: auto;

    /* For WebKit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
      width: 0.5em;
      /* Set the width of the scrollbar */
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      /* Set the color of the thumb */
    }

    /* For Firefox */
    scrollbar-width: thin;
    /* Set the width of the scrollbar in Firefox */
    scrollbar-color: transparent transparent;
    /* Set the color of the thumb in Firefox */

    .courseCard {
      width: 360px;
      height: 360px;
      margin-right: 20px;
      padding: 44px 36px 30px 28px;
      border-radius: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      border: 1px solid #ccc;
      box-sizing: border-box;
      line-height: 144.9%;

      .hoverBackground {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #253149;
        border-radius: 8px;
        z-index: -1;
      }

      .tileHeader {
        display: flex;
        align-items: flex-end;
        margin-bottom: 30px;

        .courseTitle {
          margin-right: 12px;
          font-family: $raleway;
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }

        .showArrow {
          cursor: pointer;
          font-size: 12px;
          transition: transform 0.3s ease;

          /* Add a smooth transition effect */
          &:hover {
            transform: scale(1.5);
            /* Increase the size by 10% on hover */
          }
        }
      }

      .shortDesc {
        font-family: $raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 144.9%; /* 23.184px */
      }
    }

    .evenRowCard {
      background-color: #f9f4f0;
      border: none;
      transition: all 0.3s ease-out;
    }
  }

  .nextArrow {
    float: right;
    margin-right: 2rem;
    cursor: pointer;
  }
}
