.tile-container {
  margin-top: 20px;
}

.course-type {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tile-container {
  display: flex;
  overflow-x: auto;
}

.course-card {
  width: 360px;
  height: 360px;
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-bottom: 10px;
  padding: 0 28px;
}

.title-text {
  flex: 1;
  margin-right: 10px;
}

.arrow {
  font-size: 18px;
}

.description {
  font-size: 14px;
  color: #666;
  padding: 0 28px;
}
