@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$mobileWidth: 375px;
$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.nationality {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;

  .leftColumn {
    width: 49%;
    color: #253149;
    font-family: $raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .rightColumn {
    margin-left: 20px;

    .selectField {
      width: 524px;
      font-family: $raleway;
      padding: 8px;
    }
  }
}
