@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$mobileWidth: 375px;
$raleway: "Raleway";
$quatro: "Quattrocento";

.footer {
  width: 100%;
  height: 222px;
  background-color: #c1121f;
  position: relative;

  .content {
    padding: 58px 0px 0px 98px;
    display: flex;
    align-items: center;

    .logo {
      margin-right: 266px; /* Adjust spacing between logo and links */
    }

    .links {
      display: flex;
      align-items: center;
      font-family: $raleway;

      .linkText {
        color: #f9f4f0;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-right: 60px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .socialMedia {
    display: flex;
    align-items: center;
    padding-left: 98px;
    justify-content: center;
    margin-top: 24px;

    .socialIcon {
      margin-right: 44px;
      cursor: pointer;
    }
  }

  .taglineClass {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    margin-top: 20px;

    color: rgba(249, 244, 240, 0.32);
    font-family: $quatro;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -1.6px;
  }
}
