@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$mobileWidth: 375px;
$raleway: "Raleway";
$quatro: "Quattrocento";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;

  background-color: #c1121f;
  position: relative;
  padding-top: 80px;

  .logo {
    position: absolute;
    left: 40px;
    top: 50px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;

    .links {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $raleway;

      .linkText {
        color: #f9f4f0;
        font-size: 16px;
        font-weight: 400;
        border-bottom: none;
        cursor: pointer;
        display: inline-block;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          color: #253149;
        }
      }

    }

    .socialMedia {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 40px 0;

      .socialIcon {
        cursor: pointer;
      }
    }

    .taglineClass {
      color: rgba(249, 244, 240, 0.32);
      font-family: $quatro;
      font-size: 32px;
      font-weight: 400;
      letter-spacing: -1.6px;
    }
  }



}