@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.aboutUsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: $raleway;

  .aboutUs {
    margin-top: 150px;
    width: 100%;
    max-width: 70%;
    font-weight: 500;

    .aboutUsHeading {
      font-size: 2rem;
      margin-bottom: 20px;
      font-family: $quatro;
    }

    .history {
      margin-top: 40px;

      .aboutUsHistory {
        font-size: 1.5rem;
        font-family: $quatro;
      }

      .historyContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .historyText {
          width: 40%;
        }

        .historyImage {
          text-align: center;
          padding-top: 20px;
        }
      }
    }

    .today {
      margin-top: 40px;

      .todayContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .todayImages {
          display: flex;
          flex-direction: column;

          .todayImage2 {
            margin-left: 100px;
            margin-top: 50px;
            text-align: center;
          }
        }

        .todayText {
          width: 40%;
        }
      }
    }

    .professionals {
      margin-top: 40px;
      width: 564px;

      .professionalsContent {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .professionalsText {
          width: 90%;
        }
      }
    }

    .tiles {
      display: flex;
      margin-top: 40px;

      .tile {
        width: 385px;
        background-color: #f9f4f0;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
        color: #253149;
        margin-right: 36px;

        .tileContent {
          padding: 58px 28px 58px 48px;

          .tilesHeading {
            font-size: 1.5rem;
            margin-bottom: 40px;
            transition: color 0.3s;
          }

          .tilesDescription {
            transition: color 0.3s;
          }
        }

        &:hover {
          background-color: #253149;

          .tileContent {
            h2,
            p {
              color: white;
            }
          }
        }
      }
    }
  }
}
