/* styles/NavigationBar.module.css */

.navBar {
  position: absolute;
  top: 20px;
  left: 6%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  //   background-color: rgba(
  //     255,
  //     255,
  //     255,
  //     0.7
  //   ); /* Adjust background color and opacity */
  width: 90%; /* Adjust the width */
  transition: top 0.3s;
}

.logo {
  margin-right: auto; /* Pushes the logo/image to the left */
}

.tabs {
  display: flex;
  justify-content: flex-end; /* Aligns the links to the right */
}

.tabLink {
  text-decoration: none;
  font-size: 18px;
  color: #f9f4f0;
  margin-left: 76px;
  border-bottom: none;
}
