@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.navBar {
  position: absolute;
  top: 20px;
  left: 3%;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
  transition: top 0.3s;
}

.logo {
  margin-right: auto;
}

.addBackground {
  background-color: #c1121f;
  padding: 25px 10px;
  margin-top: -30px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tabLink {
  font-size: 18px;
  color: #f9f4f0;
  margin-left: 76px;
  border-bottom: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: $raleway;

  &:hover {
    color: #c1121f;
  }
}
.tabLinkOnOtherScreens {
  color: #c1121f;
  &:hover {
    color: black;
  }
}
