@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.coursesPage {
  margin-top: 150px;
  font-family: Raleway !important;
  padding: 2rem 6rem;
  margin-right: -6rem;

  .coursesPageTitle {
    color: #253149;
    font-family: $quatro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
  }
}
