@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@700&display=swap');
.coursesPage{
    margin-top: 150px;
    font-family: Raleway !important;
    padding: 2rem 6rem;
    margin-right: -6rem;
    h1{
      font-family: Quattrocento !important;
      margin-bottom: 40px;

    }
   
}