@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.coursesPage {
  padding: 0 5%;
}

.sectionTitle {
  margin-top: 2rem;
  margin-bottom: 3rem;
  color: #253149;
  font-family: $quatro;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  @media (max-width: 1200px) {
    font-size: 1.8rem;
  }

  @media (max-width: 768px) {
    font-size: 1.6rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.4rem;
  }

  @media (max-width: 468px) {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 375px) {
    font-size: 1.1rem;
  }
}

.tilesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1.5rem;

}

.courseTile {
  padding: 3rem;
  border-radius: 1rem;
  background: #f9f4f0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 1.5rem;

  .tileTitle {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #253149;
    font-family: $raleway;
  line-height: 144.9%;

  }


  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: $raleway;
    font-weight: lighter;
    color: #253149;
  }
  &:nth-child(3) {
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
