// .gallery-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   padding: 20px;
//   height: 622px; /* Or 100vh for full page height */
//   margin: 104px 112px; /* Margin for top, bottom, left, and right */
// }

// .row {
//   display: flex;
//   justify-content: space-around;
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .gallery-image {
//   width: 100px;
//   height: 100px;
//   /* Adjust image styles as needed */
// }

// .view-gallery {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 150px;
//   height: 100px;
//   background-color: #f0f0f0;
//   color: #333;
//   font-size: 18px;
//   /* Additional styles for the "View Gallery" element */
// }

// /* Media query for responsiveness */
// @media screen and (max-width: 768px) {
//   .gallery-container {
//     height: auto;
//     margin: 60px 20px; /* Adjusted margin for smaller screens */
//   }

//   .gallery-image {
//     /* Adjust image styles for smaller screens */
//     width: 80px;
//     height: 80px;
//   }
// }

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");

$mobileWidth: 375px;
$raleway: "Raleway", sans-serif;
$quatro: "Quattrocento", sans-serif;

.galleryContainer {
  padding: 20px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
  margin-top: 104px;
  margin-bottom: 40px;
}

.galleryImage {
  margin: 0 20px;
  max-width: 100%;
  height: auto;
}

.viewGallery {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 256px;
  background-color: #fff;
  color: #474747;
  font-family: $raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin: 0px 20px;
  cursor: pointer;
}

.row + .row {
  margin-top: 0;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .gallery-container {
    height: auto; /* Adjust height for smaller screens */
    margin: 20px; /* Adjust margin for smaller screens */
  }

  .row {
    flex-direction: column;
    align-items: center;
    margin-top: 60px; /* Adjust margin top for smaller screens */
    margin-bottom: 60px; /* Adjust margin bottom for smaller screens */
  }

  .gallery-image {
    /* Adjust image styles for smaller screens */
    width: 80px;
    height: 80px;
  }
}
